body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #444;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

main .content {
    display: flex;
    flex-direction: column; /* Stack content vertically on narrow screens */
    padding: 20px;
}
.content a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* Responsive Styles for Mobile */
@media (max-width: 767px) {
    nav {
        flex-direction: column; 
    }
    nav a {
        margin-bottom: 10px;
    }
    .content section {
        width: 100%; 
    }
    .content aside {
        width: 100%; 
    }
}

/* Responsive Styles for Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .info {
        flex-direction: column; 
    }
    .content section {
        width: 70%; 
    }
    .content aside {
        width: 30%; 
}
}



.info {
    display: flex;
    margin-bottom: 20px;
}

.content ul {
    list-style-type: none;
}

.content p {
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
